body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.retro-infotext {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.retro-opinions {
  display: flex;
  flex-wrap: wrap;
}
.mdl-list__item {
  flex-direction: column;
}
.mdl-list__item .mdl-list__item-primary-content {
  width: 100%;
}
.retro-card__secondary-content,
.mdl-list__item .mdl-list__item-secondary-content {
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  display: flex;
}
.mdl-textfield {
  width: 100%;
}
.mdl-list {
  margin: 0;
  padding: 0;
}
.mdl-cell > * + * {
  margin-top: 10px;
}
.retro-card {
  display: flex;
  width: 25%;
}
.retro-card:nth-child(4n) .retro-card__content {
  margin-right: 0;
}
.retro-card__content {
  padding: 10px;
  margin: 0px 10px 10px 0px;
  width: 100%;
}
.retro-card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.retro-card__text {
  max-height: 100px;
  overflow-y: scroll;
  margin: 16px;
  padding: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.material-icons.retro-thumb {
  transition: transform 200ms;
  color: rgb(56, 142, 60);
  background-color: transparent;
}
.material-icons.retro-thumb__down {
  transform: rotate(180deg);
  color: rgb(211, 47, 47);
}
.retro-hideable {
  transition: opacity 200ms;
}
.retro-hidden {
  opacity: 0;
}
.retro-list__item + .retro-list__item {
  margin-top: 5px;
}
.mdl-cell__left {
  width: 30%;
}
.mdl-cell__right {
  flex-grow: 1;
  margin-left: 10%;
}
@media (max-width: 840px) {
  .mdl-cell__left {
    width: 100%;
  }
  .mdl-cell__right {
    margin-left: 0;
  }
  .retro-card {
    width: 50%;
  }
  .retro-card:nth-child(2n) .retro-card__content {
    margin-right: 0;
  }
}
