body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mdl-button + .mdl-button {
  margin-left: 10px;
}

.mdl-layout {
  background-color: #026AA7;
}

.mdl-layout__header {
  background-color: rgba(0,0,0,0.3);
  color: white;
}

.retro-opinions {
  display: flex;
  flex-wrap: wrap;
}

.retro-opinions__wrapper {
  width: 25%;
}

.retro-opinions__wrapper:nth-child(4n) .retro-card {
  margin-right: 0;
}

.retro-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #ccc;
  color: black;
}

.retro-card > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.retro-card > * + * {
  margin-top: 5px;
}

.retro-card > *:last-child {
  justify-content: flex-end;
}

.retro-opinion {
  margin-bottom: 5px;
  margin-right: 5px;
}

.retro-opinion__text {
  background-color: white;
  padding: 5px;
}

.retro-thumb {
  transition: transform 200ms;
  color: rgb(56, 142, 60);
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
}
.retro-thumb__down {
  transform: rotate(180deg);
  color: rgb(211, 47, 47);
}

textarea {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  border: none;
}

textarea:focus {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-cell > * {
  margin-bottom: 10px;
}

.retro-cell__left {
  width: 30%;
}
.retro-cell__right {
  flex-grow: 1;
  margin-left: 10%;
}

.fade-transition,
.retro-hideable {
  transition: opacity 400ms;
}
.fade-enter,
.fade-leave,
.retro-hidden {
  opacity: 0;
}

@media (max-width: 840px) {
  .retro-cell__left {
    width: 100%;
  }
  .retro-cell__right {
    margin-left: 0;
  }
  .retro-opinions__wrapper {
    width: 50%;
  }
  .retro-opinions__wrapper:nth-child(2n) .retro-card {
    margin-right: 0;
  }
}

.retro-export {
  display: inline-block;
  width: 1px;
  height: 1px;
  left: -10000px;
  position: absolute;
}
